@font-face {
    font-family: space_mono;
    src: url(../assets/fonts/SpaceMono-Regular.ttf);
  }

html, body {
    overflow: auto;
    min-height:100%;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: space_mono;
    height:100vh;
  }

.navbar_colours {
  background: rgb(255, 255, 255) !important;
}

.nav-link {
  font-size: 1.2rem;
  color:rgb(112, 80, 112) !important;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand {
  color: rgb(34, 24, 34);
  padding-top: .3125rem;
  padding-bottom: .375rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand:hover {
  color: rgb(112, 80, 112);
}


.main_menu {
  background: rgb(24, 24, 24);
  background: radial-gradient(circle, rgba(77,50,77,1) 0%, rgba(66,45,66,1) 50%, rgba(34,24,34,1) 100%);
}

.pagesettings {
  background: white;
  height: 100%;
  padding-top:8%;
  padding-bottom:8%;
}

.filler_space {
  height:10vh;
}

.secondary {
  background: rgb(34, 24, 34) !important;
  color: white !important;
}

.title_page {
  position:absolute;
  height:100%;
  text-align: center;
}

.title_container {
  background-color: white; 
  padding:2%
}

.title{
  color: rgb(0, 0, 0);
}

.subtitle {
  color: rgb(0, 0, 0);
  font-size:2.5rem;
}

@media (max-width: 576px) {
  .navbar-brand {
    padding-left: 12%;
  }
  .title_container {
    width:75%; 
    margin-left:12.5%;
  }
  .title{
    color: rgb(0, 0, 0);
    font-size:1rem;
  }
}

@media (min-width: 576px) {
  .navbar-brand {
    padding-left: 10%;
  }
  .title_container {
    width:75%; 
    margin-left:12.5%;
  }
  .title{
    color: rgb(0, 0, 0);
    font-size:2rem;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-left: 10%;
  }
  .title_container {
    width:75%; 
    margin-left:12.5%;
  }
  .title{
    color: rgb(0, 0, 0);
    font-size:2rem;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    padding-left: 0%;
  }
  .title_container {
    width:75%;
    margin-left:12.5%;
  }
  .nav-collapse-only {
    display: none !important;
  }
  .title{
    color: rgb(0, 0, 0);
    font-size:2rem;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    padding-left: 0%;
  }
  .title_container {
    width:50%; 
    margin-left:25%;
  }
  .nav-collapse-only {
    display: none !important;
  }
  .title{
    color: rgb(0, 0, 0);
    font-size:2.5rem;
  }
}

.nav-collapse-only {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 0.5rem;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(155, 155, 155);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);    /* color of the scroll thumb */
  border-radius: 2rem;
}

.down_arrow {
  transition: all 0.2s ease-in-out;
}

.down_arrow:hover {
  transform: scale(1.2);
}

textarea::-webkit-scrollbar {
  width: 0.5rem;               /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: rgb(155, 155, 155);        /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);    /* color of the scroll thumb */
  border-radius: 2rem;
}

.subnav {
  background-color: white;
}

.pagedevider {
  width:90%
}

.pagesubrow{
  width:50%;
}

@media print{
  .pagesettings, .pagedevider, .pagesubrow{
    width: 100%;
  }
  .pageBreak {
    page-break-before : auto;
}
}
